{% extends 'base.html' %} {% block head %}
<title>usecase2ml - search</title>
{% endblock %} {% block body %}
<form action="/" method="POST" id="form">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="./">ML search</a>
    <input
      class="form-control form-control-dark w-100"
      type="text"
      placeholder="Search"
      aria-label="Search"
      id="search"
      name="search"
      value="{{ match.query }}"
    />
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <!-- <a class="nav-link" href="javascript:;" onclick="document.getElementById('form').submit();">Search</a> -->
        <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
          <label class="btn btn-outline-secondary">
            <input type="radio" name="mode" id="all" class="toggle" value="all"
            autocomplete="off" {{ query_mode['all'] }} /> All
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" name="mode" id="learn" class="toggle" value="learn"
            autocomplete="off" {{ query_mode['learn'] }} /> Learn
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" name="mode" id="explore" class="toggle" value="explore"
            autocomplete="off" {{ query_mode['explore'] }} /> Explore
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" name="mode" id="compete" class="toggle" value="compete"
            autocomplete="off" {{ query_mode['compete'] }} /> Compete
          </label>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky mt-5">
          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
          >
            <span>Filter</span>
            <a class="d-flex align-items-center text-muted" href="javascript:;" onClick="toggle(filter);">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-plus-circle"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="16"></line>
                <line x1="8" y1="12" x2="16" y2="12"></line>
              </svg>
            </a>
          </h6>
          <div id="filter" class="">
            <ul class="nav flex-column">
              <li class="nav-item">
                <div class="nav-link">
                  <!-- <span class="example"></span> -->
                  <input
                    class="form-control form-control-sm filter"
                    type="text"
                    placeholder="category"
                    id="category"
                    name="category"
                    value="{{ match.category }}"
                    autocomplete="off"
                    list="category_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter"
                    type="text"
                    placeholder="subcategory"
                    id="subcategory"
                    name="subcategory"
                    value="{{ match.subcategory }}"
                    autocomplete="off"
                    list="subcategory_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter"
                    type="text"
                    placeholder="tags"
                    id="tags"
                    name="tags"
                    value="{{ match.tags }}"
                    autocomplete="off"
                    list="tags_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter"
                    type="text"
                    placeholder="kind"
                    id="kind"
                    name="kind"
                    value="{{ match.kind }}"
                    autocomplete="off"
                    list="kind_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter"
                    type="text"
                    placeholder="ML libraries"
                    id="ml_libs"
                    name="ml_libs"
                    value="{{ match.ml_libs }}"
                    autocomplete="off"
                    list="libs_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter"
                    type="text"
                    placeholder="source"
                    id="host"
                    name="host"
                    value="{{ match.host }}"
                    autocomplete="off"
                    list="host_list"
                  />
                </div>
              </li>
              <div id="match_not" class="hidden">
                <li class="nav-item">
                  <div class="nav-link">
                    <input
                      class="form-control form-control-sm filter"
                      type="text"
                      placeholder="tags not"
                      id="tags_not"
                      name="tags_not"
                      value="{{ match_not.tags }}"
                      autocomplete="off"
                      list="tags_list"
                    />
                  </div>
                </li>
                <li class="nav-item">
                  <div class="nav-link">
                    <input
                      class="form-control form-control-sm filter"
                      type="text"
                      placeholder="host not"
                      id="host_not"
                      name="host_not"
                      value="{{ match_not.host }}"
                      autocomplete="off"
                      list="host_list"
                    />
                  </div>
                </li>
                <li class="nav-item">
                  <div class="nav-link">
                    <input
                      class="form-control form-control-sm filter"
                      type="text"
                      placeholder="kind not"
                      id="kind_not"
                      name="kind_not"
                      value="{{ match_not.kind }}"
                      autocomplete="off"
                      list="kind_list"
                    />
                  </div>
                </li>
              </div>

              <li class="nav-item">
                <a class="nav-link" href="javascript:;" onClick="toggle(match_not);">
                  <i data-feather="plus-circle"></i>
                  More Filter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;" onclick="$('.filter').val('');">
                  <i data-feather="x-circle"></i>
                  Reset Filter
                </a>
              </li>
            </ul>
          </div>

          <!-- autocomplete -->
          <datalist id="category_list">
            {% for item in js.category %}
            <option value="{{ item }}"></option>
            {% endfor %}
          </datalist>
          <datalist id="subcategory_list">
            {% for item in js.subcategory %}
            <option value="{{ item }}"></option>
            {% endfor %}
          </datalist>
          <datalist id="tags_list">
            {% for item in js.tags %}
            <option value="{{ item }}"></option>
            {% endfor %}
          </datalist>
          <datalist id="kind_list">
            {% for item in js.kind %}
            <option value="{{ item }}"></option>
            {% endfor %}
          </datalist>
          <datalist id="libs_list">
            {% for item in js.ml_libs %}
            <option value="{{ item }}"></option>
            {% endfor %}
          </datalist>
          <datalist id="host_list">
            {% for item in js.host %}
            <option value="{{ item }}"></option>
            {% endfor %}
          </datalist>

          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
          >
            <span>Options</span>
            <a class="d-flex align-items-center text-muted" href="javascript:;" onClick="toggle(options);">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-plus-circle"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="16"></line>
                <line x1="8" y1="12" x2="16" y2="12"></line>
              </svg>
            </a>
          </h6>
          <div id="options" class="">
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <div class="nav-link">
                  <div class="btn-group btn-group-toggle btn-group-xs btn-group-block" data-toggle="buttons">
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="engine" id="ks" class="toggle" value="k+s"
                      autocomplete="off" {{ query_engines['ks'] }} /> Both
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="engine" id="k" class="toggle" value="k"
                      autocomplete="off" {{ query_engines['k'] }} /> Keyword
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="engine" id="s" class="toggle" value="s"
                      autocomplete="off" {{ query_engines['s'] }} /> Semantic
                    </label>
                  </div>
                </div>
              </li>
              <!-- <li class="nav-item">
                <div class="form-check nav-link">
                  <input class="" type="checkbox" id="k"
                  name="k" {{ query_engines['k'] }} />
                  <label class="form-check-label" for="gridCheck1">
                    Keyword Based
                  </label>
                </div>
              </li>
              <li class="nav-item">
                <div class="form-check nav-link">
                  <input class="" type="checkbox" id="s"
                  name="s" {{ query_engines['s'] }} />
                  <label class="form-check-label" for="gridCheck1">
                    Semantic Search
                  </label>
                </div>
              </li> -->
              <li class="nav-item">
                <div class="nav-link">
                  <div class="btn-group btn-group-toggle btn-group-xs btn-group-block" data-toggle="buttons">
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="field" id="fulltext" class="toggle" value="fulltext"
                      autocomplete="off" {{ query_secondary['f'] }} /> Full Text
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="field" id="title" class="toggle" value="title"
                      autocomplete="off" {{ query_secondary['t'] }} /> Title
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="field" id="summarization" class="toggle" value="summarization"
                      autocomplete="off" {{ query_secondary['s'] }} /> Summary
                    </label>
                  </div>
                </div>
              </li>
              <!-- <li class="nav-item">
                <div class="form-check nav-link">
                  <input class="" type="radio" id="title"
                  name="field" value="title" {{ query_secondary['t'] }} />
                  <label class="form-check-label" for="gridCheck1">
                    Title
                  </label>
                </div>
              </li>
              <li class="nav-item">
                <div class="form-check nav-link">
                  <input class="" type="radio"
                  id="summarization" name="field" value="summarization" {{
                  query_secondary['s'] }} />
                  <label class="form-check-label" for="gridCheck1">
                    Summarization
                  </label>
                </div>
              </li>
              <li class="nav-item">
                <div class="form-check nav-link">
                  <input class="" type="radio" id="fulltext"
                  name="field" value="fulltext" {{ query_secondary['f'] }} />
                  <label class="form-check-label" for="gridCheck1">
                    Full Text
                  </label>
                </div>
              </li> -->
              <li class="nav-item">
                <div class="nav-link">
                  <div class="btn-group btn-group-toggle btn-group-xs btn-group-block" data-toggle="buttons">
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="model" id="use_large" class="toggle" value="use_large"
                      autocomplete="off" {{ embeddings['use_large'] }} /> USE large
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="model" id="use" class="toggle" value="use"
                      autocomplete="off" {{ embeddings['use'] }} /> USE
                    </label>
                  </div>
                </div>
              </li>
              <!-- <li class="nav-item">
                <div class="form-check nav-link">
                  <input class="" type="radio" name="model"
                  id="use" value="use" {{ embeddings['use'] }} />
                  <label class="form-check-label" for="use">USE DAN</label>
                </div>
              </li>
              <li class="nav-item">
                <div class="form-check nav-link">
                  <input class="" type="radio" name="model"
                  id="use_large" value="use_large" {{ embeddings['use_large'] }}
                  />
                  <label class="form-check-label" for="use_large">
                    USE Transformer
                  </label>
                </div>
              </li> -->
            </ul>
          </div>
          <div class="nav-item mt-5">
            <!-- <a class="nav-link" href="javascript:;" onclick="document.getElementById('form').submit();">
              SEARCH
            </a> -->
            <div class="nav-link">
              <button type="submit" class="btn btn-outline-primary btn-sm bottom btn-block">Update Search</button>
            </div>
          </div>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {% if items|length < 1 %}
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    
          <div class="container-fluid text-center align-items-center">
            <h1 class="cover-heading">Learn. Explore. Compete</h1>
            <p class="lead">Search for Projects. Explore Showcases. Evaluate Competitors.</p>
          </div>
        </div>
        {% else %}
        {% if aggregations|length > 0 %}
        <div
          style="
            position: absolute;
            inset: 0px;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
          "
          class="chartjs-size-monitor"
        >
          <div
            class="chartjs-size-monitor-expand"
            style="
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              overflow: hidden;
              pointer-events: none;
              visibility: hidden;
              z-index: -1;
            "
          >
            <div
              style="
                position: absolute;
                width: 1000000px;
                height: 1000000px;
                left: 0;
                top: 0;
              "
            ></div>
          </div>
          <div
            class="chartjs-size-monitor-shrink"
            style="
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              overflow: hidden;
              pointer-events: none;
              visibility: hidden;
              z-index: -1;
            "
          >
            <div
              style="
                position: absolute;
                width: 200%;
                height: 200%;
                left: 0;
                top: 0;
              "
            ></div>
          </div>
        </div>
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
        >
          <h1 class="h2">Statistics</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2" data-toggle="buttons">
              {% for k, v in aggregations.items() %}
                <a id="button_{{ k }}" onClick="show_chart('{{ k }}');"
                href="javascript:;" class="btn btn-sm btn-outline-secondary {% if k in aggs_checked %} active {% endif %}" {% if k in aggs_checked %}  aria-pressed="true" {% endif %}>{{ k.title() }}</a>
              {% endfor %}
            </div>
          </div>
        </div>

        <input id="charts_selected" name="charts" type="hidden" value="{{ ','.join(aggs_checked) }}" />

        <!-- <canvas
          class="my-4 chartjs-render-monitor"
          id="myChart"
          width="502"
          height="210"
          style="display: block; height: 84px; width: 201px"
        ></canvas> -->
        <div class="card-group">
          {% for k, v in aggregations.items() %}
            <div id="card_{{ k }}" class="card border-light {% if not k in aggs_checked %} hidden {% endif%}">
              <div class="card-header">{{ k.title() }}</div>
              <div class="card-body">
                <canvas
                  id="chart_{{ k }}"
                  class="chart"
                ></canvas>
              </div>
            </div>
          {% endfor %}
        </div>

        {% endif %}
        
        <h2>Results</h2>
        
      <div class="table-responsive">
        <table class="table table-striped" id="myTable" style="width: 100%">
          <thead class="thead-dark">
            <tr>
              <th class="col-sm-1">Search</th>
              <th class="col-sm-1">Score</th>
              <th class="col-sm-8">Item</th>
              <!-- <th>Score</th> -->
              <!-- <th>Date</th> -->
              <th class="col-sm-2">Type</th>
            </tr>
          </thead>

          <tbody>
            {% for item in items %}
            <tr>
              <td class="col-sm-1">
                {{ item.search }}
              </td>
              <td class="col-sm-1">
                {{ item.search_score }}
              </td>
              <td class="col-sm-8">
                <a
                      onClick="toggle({{ item.index }});"
                      href="javascript:;"
                      >{{ item.title }}</a
                    >

                  <div id="{{ item.index }}" class="hidden">
                    <div class="row mt-2 mb-2">
                      <!-- summarization -->
                      {% if item.summarization is defined %}
                      <div class="col-sm-2 font-weight-bold">description</div>
                      <div class="col-sm-10">
                        {{ item.summarization }} <span class="font-weight-light">({{ item.words }} words)</span>
                      </div>
                      {% endif %}
                    </div>

                    <div class="row mt-2 mb-2">
                      <!-- fulltext -->
                      {% if item.fulltext is defined and query_secondary['f'] ==
                      'checked' %}
                      <!-- <div class="col-sm-2 font-weight-bold">fulltext</div>
                      <div class="col-sm-10">{{ item.fulltext }}</div> -->
                      {% endif %}

                      <!-- words -->
                      {% if item.words is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">words</div>
                      <div class="col-sm-10">{{ item.words }}</div> -->
                      {% endif %}
                    </div>

                    <div class="row mt-2 mb-2">
                      <!-- category -->
                      <div class="col-sm-2 font-weight-bold">category</div>
                      <div class="col-sm-10">
                        {% if item.category is defined %}
                        {{ item.category }}
                        <span class="font-weight-light">(score: {{ item.category_score|round(3) }})</span>
                        {% else %}
                        None
                        {% endif %}
                        {% if item.subcategory is defined %}
                        | {{ item.subcategory }}
                        <span class="font-weight-light">(score: {{ item.subcategory_score|round(3) }})</span>
                        {% endif %}
                      </div>

                      <!-- subcategory -->
                      {% if item.subcategory is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">subcategory</div>
                      <div class="col-sm-10">
                        {{ item.subcategory }}
                        <span class="font-weight-light">(score: {{ item.subcategory_score|round(3) }})</span>
                      </div> -->
                      {% endif %}

                      <!-- tags -->
                      {% if item.tags is defined and item.tags|length > 0 %}
                      <div class="col-sm-2 font-weight-bold">tags</div>
                      <div class="col-sm-10">{{ ', '.join(item.tags) }}</div>
                      {% endif %}

                      <!-- libraries -->
                      {% if item.ml_libs is defined %}
                      <div class="col-sm-2 font-weight-bold">libraries</div>
                      <div class="col-sm-10">{{ ', '.join(item.ml_libs) }}</div>
                      {% endif %}
                    </div>
                    
                    <div class="row mt-1 mb-1">
                      <!-- info -->
                      <div class="col-sm-2 font-weight-bold">info</div>
                      <div class="col-sm-10 font-weight-light">
                        {% if item.kind is defined %}
                          kind: 
                          {% if item.kind is not string %}
                            <b>{{ ', '.join(item.kind) }}</b>
                          {% else %}
                            <b>{{ item.kind }}</b>
                          {% endif %}
                        {% endif %}
                        {% if item.host is defined %}
                          | source: <b>{{ item.host }}</b>
                        {% endif %}
                        {% if item.date_project is defined %}
                          | date: <b>{{ item.date_project.split('T')[0] }}</b>
                        {% endif %}
                      </div>

                      <!-- kind -->
                      {% if item.kind is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">kind</div> -->
                      {% if item.kind is not string %}
                      <!-- <div class="col-sm-10 font-weight-light">{{ ', '.join(item.kind) }}</div> -->
                      {% else %}
                      <!-- <div class="col-sm-10 font-weight-light">{{ item.kind }}</div> -->
                      {% endif %} {% endif %}

                      <!-- host -->
                      {% if item.host is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">source</div>
                      <div class="col-sm-10 font-weight-light">{{ item.host }}</div> -->
                      {% endif %}

                      <!-- license -->
                      {% if item.license is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">license</div>
                      <div class="col-sm-10">{{ item.license }}</div> -->
                      {% endif %}

                      <!-- language -->
                      {% if item.language is defined %}
                      <div class="col-sm-2 font-weight-bold">language</div>
                      <div class="col-sm-10">{{ item.language }}</div>
                      {% endif %}

                      <!-- scores -->
                      <div class="col-sm-2 font-weight-bold">scores</div>
                      <div class="col-sm-10 font-weight-light">
                        {{ item.scores|safe }}
                        <!-- learn score -->
                        {% if item.learn_score is defined and item.learn_score > 0 %}
                        <!-- <span class="font-weight-light">learn score:</span>
                        <span>{{ item.learn_score }}</span> -->
                        {% endif %}

                        <!-- explore_score -->
                        {% if item.explore_score is defined and item.explore_score > 0 %}
                        <!-- <span class="font-weight-light">explore score:</span>
                        <span>{{ item.explore_score }}</span> -->
                        {% endif %}

                        <!-- compete_score -->
                        {% if item.compete_score is defined and item.compete_score > 0 %}
                        <!-- <span class="font-weight-light">compete score:</span>
                        <span>{{ item.compete_score }}</span> -->
                        {% endif %}

                        <!-- engagement_score -->
                        {% if item.engagement_score is defined %}
                        <!-- <span class="font-weight-light">engagement score:</span>
                        <span>{{ item.engagement_score }}</span> -->
                        {% endif %}

                        <!-- ml_score -->
                        {% if item.ml_score is defined %}
                        <!-- <span class="font-weight-light">ml score:</span>
                        <span>{{ item.ml_score }}</span> -->
                        {% endif %}
                      </div>
                      
                      <!-- search_score -->
                      {% if item.search_score is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">search score</div>
                      <div class="col-sm-10">{{ item.search_score }}</div> -->
                      {% endif %}

                      <!-- engagement_score -->
                      {% if item.engagement_score is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">engagement</div>
                      <div class="col-sm-10">{{ item.engagement_score }}</div> -->
                      {% endif %}

                      <!-- ml_score -->
                      {% if item.ml_score is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">ml score</div>
                      <div class="col-sm-10">{{ item.ml_score }}</div> -->
                      {% endif %}

                      <!-- learn_score -->
                      {% if item.learn_score is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">learn score</div>
                      <div class="col-sm-10">{{ item.learn_score }}</div> -->
                      {% endif %}

                      <!-- explore_score -->
                      {% if item.explore_score is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">explore score</div>
                      <div class="col-sm-10">{{ item.explore_score }}</div> -->
                      {% endif %}

                      <!-- compete_score -->
                      {% if item.compete_score is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">compete score</div>
                      <div class="col-sm-10">{{ item.compete_score }}</div> -->
                      {% endif %}

                      <!-- date -->
                      {% if item.date_project is defined %}
                      <!-- <div class="col-sm-2 font-weight-bold">date</div>
                      <div class="col-sm-10 font-weight-light">
                        {{ item.date_project.split('T')[0] }}
                      </div> -->
                      {% endif %}

                      <!-- id -->
                      {% if item.id|length > 0 %}
                      <!-- <div class="col-sm-2 font-weight-bold">id</div>
                      <div class="col-sm-10">{{ item.id }}</div> -->
                      {% endif %}
                    </div>

                    <div class="row mt-2 mb-2">
                      <!-- link -->
                      <div class="col-sm-2 font-weight-bold">link</div>
                      <div class="col-sm-10">
                        <a href="{{ item.link }}" target="_blank"
                          >{{ item.link }}</a
                        >
                      </div>
                    </div>
                  </div>
              </td>
              <!-- <td>
                <div class="container-fluid">
                  <div class="row">
                    {% if item.score != None %} {{ item.score }} {% endif %}
                  </div>
                </div>
              </td> -->
              <!-- <td>
                <div class="container-fluid">
                  <div class="row">
                    {% if item.date_project is defined %}{{
                    item.date_project.split('T')[0] }}{% endif %}
                  </div>
                </div>
              </td> -->
              <td class="col-sm-2">
                <div class="container-fluid">
                  <div class="row">
                    {% if item.type is defined %}
                    {{ ', '.join(item.type) }}
                    {% endif %}
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div>Query Runtime: {{ runtime }} sec</div>
    </div>

    {% endif %}
      </main>
    </div>
  </div>
</form>
{% endblock %}
