{% extends 'base.html' %} {% block head %}
<title>usecase2ml - search</title>
{% endblock %} {% block body %}
<form action="/" method="POST" id="form">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="./">ML search</a>
    <input
      class="form-control form-control-dark w-100"
      type="text"
      placeholder="Search"
      aria-label="Search"
      id="search"
      name="search"
      value="{{ match.query }}"
    />
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
          <label class="btn btn-outline-secondary">
            <input type="radio" name="mode" id="all" class="toggle" value="all"
            autocomplete="off" {{ query_mode['all'] }} /> All
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" name="mode" id="learn" class="toggle" value="learn"
            autocomplete="off" {{ query_mode['learn'] }} /> Learn
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" name="mode" id="explore" class="toggle" value="explore"
            autocomplete="off" {{ query_mode['explore'] }} /> Explore
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" name="mode" id="compete" class="toggle" value="compete"
            autocomplete="off" {{ query_mode['compete'] }} /> Compete
          </label>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky mt-5">
          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
          >
            <span>Filter</span>
            <a class="d-flex align-items-center text-muted" href="javascript:;" onClick="toggle('nav_filter');">
              <span id="nav_filter_plus" class="hidden">
                <i data-feather="plus-circle"></i>
              </span>
              <span id="nav_filter_minus">
                <i data-feather="minus-circle"></i>
              </span>
            </a>
          </h6>
          <div id="nav_filter" class="">
            <ul class="nav flex-column">
              <li class="nav-item">
                <div class="nav-link">
                  <!-- <span class="example"></span> -->
                  <input
                    class="form-control form-control-sm filter {% if match.category|length > 0 %} is-valid {% endif %}"
                    type="text"
                    placeholder="category"
                    id="category"
                    name="category"
                    value="{{ match.category }}"
                    autocomplete="off"
                    list="category_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter {% if match.subcategory|length > 0 %} is-valid {% endif %}"
                    type="text"
                    placeholder="subcategory"
                    id="subcategory"
                    name="subcategory"
                    value="{{ match.subcategory }}"
                    autocomplete="off"
                    list="subcategory_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter {% if match.tags|length > 0 %} is-valid {% endif %}"
                    type="text"
                    placeholder="tags"
                    id="tags"
                    name="tags"
                    value="{{ match.tags }}"
                    autocomplete="off"
                    list="tags_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter {% if match.ml_libs|length > 0 %} is-valid {% endif %}"
                    type="text"
                    placeholder="ML libraries"
                    id="ml_libs"
                    name="ml_libs"
                    value="{{ match.ml_libs }}"
                    autocomplete="off"
                    list="libs_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter {% if match.kind|length > 0 %} is-valid {% endif %}"
                    type="text"
                    placeholder="kind"
                    id="kind"
                    name="kind"
                    value="{{ match.kind }}"
                    autocomplete="off"
                    list="kind_list"
                  />
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <input
                    class="form-control form-control-sm filter {% if match.host|length > 0 %} is-valid {% endif %}"
                    type="text"
                    placeholder="source"
                    id="host"
                    name="host"
                    value="{{ match.host }}"
                    autocomplete="off"
                    list="host_list"
                  />
                </div>
              </li>
              <div id="nav_more_filter" class="{% if match_not.tags|length == 0 and match_not.host|length == 0 and match_not.kind|length == 0 %} hidden {% endif %}">
                <li class="nav-item">
                  <div class="nav-link">
                    <input
                      class="form-control form-control-sm filter {% if match_not.tags|length > 0 %} is-invalid {% endif %}"
                      type="text"
                      placeholder="tags not"
                      id="tags_not"
                      name="tags_not"
                      value="{{ match_not.tags }}"
                      autocomplete="off"
                      list="tags_list"
                    />
                  </div>
                </li>
                <li class="nav-item">
                  <div class="nav-link">
                    <input
                      class="form-control form-control-sm filter {% if match_not.kind|length > 0 %} is-invalid {% endif %}"
                      type="text"
                      placeholder="kind not"
                      id="kind_not"
                      name="kind_not"
                      value="{{ match_not.kind }}"
                      autocomplete="off"
                      list="kind_list"
                    />
                  </div>
                </li>
                <li class="nav-item">
                  <div class="nav-link">
                    <input
                      class="form-control form-control-sm filter {% if match_not.host|length > 0 %} is-invalid {% endif %}"
                      type="text"
                      placeholder="source not"
                      id="host_not"
                      name="host_not"
                      value="{{ match_not.host }}"
                      autocomplete="off"
                      list="host_list"
                    />
                  </div>
                </li>
              </div>

              <li class="nav-item">
                <a class="nav-link" href="javascript:;" onClick="toggle('nav_more_filter');">
                  <span id="nav_more_filter_plus">
                    <i data-feather="plus-circle"></i>
                    <span id="nav_more_filter_label">More Filter</span>
                  </span>
                  <span id="nav_more_filter_minus" class="hidden">
                    <i data-feather="minus-circle"></i>
                    <span id="nav_more_filter_label">Less Filter</span>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;" onclick="$('.filter').val('');">
                  <i data-feather="x-circle"></i>
                  Reset Filter
                </a>
              </li>
            </ul>
          </div>

          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
          >
            <span>Options</span>
            <a class="d-flex align-items-center text-muted" href="javascript:;" onClick="toggle('nav_options');">
              <span id="nav_options_plus">
                <i data-feather="plus-circle"></i>
              </span>
              <span id="nav_options_minus" class="hidden">
                <i data-feather="minus-circle"></i>
              </span>
            </a>
          </h6>
          <div id="nav_options" class="hidden">
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <div class="nav-link">
                  <div class="btn-group btn-group-toggle btn-group-xs btn-group-block" data-toggle="buttons">
                    <!-- <label class="btn btn-outline-secondary">
                      <input type="radio" name="engine" id="ks" class="toggle" value="k+s"
                      autocomplete="off" {{ query_engines['ks'] }} /> Both
                    </label> -->

                    <label class="btn btn-outline-secondary">
                      <input type="checkbox" name="engine_k" id="k" class="toggle" value="k"
                      autocomplete="off" {% if 'k' in query_engines %} checked {% endif %} /> Keyword
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="checkbox" name="engine_b" id="b" class="toggle" value="b"
                      autocomplete="off" {% if 'b' in query_engines %} checked {% endif %} /> Boolean
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="checkbox" name="engine_s" id="s" class="toggle" value="s"
                      autocomplete="off" {% if 's' in query_engines %} checked {% endif %} /> Semantic
                    </label>
                    
                    <!-- <a id="k" class="btn btn-outline-secondary {% if 'k' in query_engines %} active {% endif %}" onClick="engine_toggle('k');"
                    href="javascript:;" {% if 'k' in query_engines %} aria-pressed="true" {% endif %}>Keyword</a>

                    <a id="b" class="btn btn-outline-secondary {% if 'b' in query_engines %} active {% endif %}" onClick="engine_toggle('b');"
                    href="javascript:;" {% if 'b' in query_engines %} aria-pressed="true" {% endif %}>Boolean</a>
                    
                    <a id="s" class="btn btn-outline-secondary {% if 's' in query_engines %} active {% endif %}" onClick="engine_toggle('s');"
                    href="javascript:;" {% if 's' in query_engines %} aria-pressed="true" {% endif %}>Semantic</a>

                    <input id="engines" name="engine" type="hidden" value="{{ ','.join(query_engines) }}"> -->
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <div class="btn-group btn-group-toggle btn-group-xs btn-group-block" data-toggle="buttons">
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="field" id="fulltext" class="toggle" value="fulltext"
                      autocomplete="off" {{ query_secondary['f'] }} /> Full Text
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="field" id="title" class="toggle" value="title"
                      autocomplete="off" {{ query_secondary['t'] }} /> Title
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="field" id="summarization" class="toggle" value="summarization"
                      autocomplete="off" {{ query_secondary['s'] }} /> Summary
                    </label>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link">
                  <div class="btn-group btn-group-toggle btn-group-xs btn-group-block" data-toggle="buttons">
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="model" id="use5" class="toggle" value="use5"
                      autocomplete="off" {{ embeddings['use5'] }} /> USE large
                    </label>
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="model" id="use4" class="toggle" value="use4"
                      autocomplete="off" {{ embeddings['use4'] }} /> USE
                    </label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="nav-item mt-5">
            <!-- <a class="nav-link" href="javascript:;" onclick="document.getElementById('form').submit();">
              SEARCH
            </a> -->
            <div class="nav-link">
              <button type="submit" class="btn btn-outline-primary btn-sm bottom btn-block">Update Search</button>
            </div>
          </div>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {% if items|length < 1 %}
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    
          <div class="container-fluid text-center align-items-center">
            <h1 class="cover-heading">Learn. Explore. Compete</h1>
            <p class="lead">Search for Projects. Explore Showcases. Evaluate Competitors.</p>
          </div>
        </div>
        {% else %}
        {% if aggregations|length > 0 %}
        <div
          style="
            position: absolute;
            inset: 0px;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
          "
          class="chartjs-size-monitor"
        >
          <div
            class="chartjs-size-monitor-expand"
            style="
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              overflow: hidden;
              pointer-events: none;
              visibility: hidden;
              z-index: -1;
            "
          >
            <div
              style="
                position: absolute;
                width: 1000000px;
                height: 1000000px;
                left: 0;
                top: 0;
              "
            ></div>
          </div>
          <div
            class="chartjs-size-monitor-shrink"
            style="
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              overflow: hidden;
              pointer-events: none;
              visibility: hidden;
              z-index: -1;
            "
          >
            <div
              style="
                position: absolute;
                width: 200%;
                height: 200%;
                left: 0;
                top: 0;
              "
            ></div>
          </div>
        </div>
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
        >
          <h1 class="h2">Insights</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2" data-toggle="buttons">
              {% for k, v in aggregations.items() %}
                <a id="button_{{ k }}" onClick="show_chart('{{ k }}');"
                href="javascript:;" class="btn btn-sm btn-outline-secondary {% if k in aggs_checked %} active {% endif %}" {% if k in aggs_checked %}  aria-pressed="true" {% endif %}>{{ k.title() }}</a>
              {% endfor %}
            </div>
          </div>
        </div>

        <input id="charts_selected" name="charts" type="hidden" value="{{ ','.join(aggs_checked) }}" />

        <div class="card-group">
          {% for k, v in aggregations.items() %}
            <div id="card_{{ k }}" class="card border-light {% if not k in aggs_checked %} hidden {% endif%}">
              <div class="card-header">{{ k.title() }}</div>
              <div class="card-body">
                <canvas
                  id="chart_{{ k }}"
                  class="chart"
                ></canvas>
              </div>
            </div>
          {% endfor %}
        </div>

        {% endif %}
        
        <h2>Results</h2>
        
      <div class="table-responsive">
        <table class="table table-striped" id="myTable" style="width: 100%">
          <thead class="thead-dark">
            <tr>
              <th class="col-sm-1">Search</th>
              <th class="col-sm-1">Score</th>
              <th class="col-sm-8">Item</th>
              <th class="col-sm-2">Type</th>
            </tr>
          </thead>

          <tbody>
            {% for item in items %}
            <tr>
              <td class="col-sm-1">
                {{ item.search }}
              </td>
              <td class="col-sm-1">
                {{ item.search_score }}
              </td>
              <td class="col-sm-8">
                <a
                      onClick="toggle('{{ item.index }}');"
                      href="javascript:;"
                      >{{ item.title }}</a
                    >
                    {% if item.missing|length > 0%} 
                    <span class="text-danger">[missing {{ ' '.join(item.missing) }}]</span>
                    {% endif %}

                  <div id="{{ item.index }}" class="hidden">
                    <div class="row mt-2 mb-2">
                      <!-- summarization -->
                      {% if item.summarization is defined %}
                      <div class="col-sm-2 font-weight-bold">description</div>
                      <div class="col-sm-10">
                        {{ item.summarization }} <span class="font-weight-light">({{ item.words }} words)</span>
                      </div>
                      {% endif %}
                    </div>

                    <div class="row mt-2 mb-2">
                      <!-- fulltext -->
                      {% if item.fulltext is defined and debug['print_fulltext'] %}
                        <div class="col-sm-2 font-weight-bold">fulltext</div>
                        <div class="col-sm-10">{{ item.fulltext }}</div>
                      {% endif %}
                    </div>

                    <div class="row mt-2 mb-2">
                      <!-- category -->
                      <div class="col-sm-2 font-weight-bold">category</div>
                      <div class="col-sm-10">
                        {% if item.category is defined %}
                        {{ item.category }}
                        <span class="font-weight-light">(score: {{ item.category_score|round(3) }})</span>
                        {% else %}
                        None
                        {% endif %}
                        {% if item.subcategory is defined %}
                        | {{ item.subcategory }}
                        <span class="font-weight-light">(score: {{ item.subcategory_score|round(3) }})</span>
                        {% endif %}
                      </div>

                      <!-- tags -->
                      {% if item.tags is defined and item.tags|length > 0 %}
                      <div class="col-sm-2 font-weight-bold">tags</div>
                      <div class="col-sm-10">{{ ', '.join(item.tags) }}</div>
                      {% endif %}

                      <!-- libraries -->
                      {% if item.ml_libs is defined %}
                      <div class="col-sm-2 font-weight-bold">libraries</div>
                      <div class="col-sm-10">{{ ', '.join(item.ml_libs) }}</div>
                      {% endif %}
                    </div>
                    
                    <div class="row mt-1 mb-1">
                      <!-- info -->
                      <div class="col-sm-2 font-weight-bold">info</div>
                      <div class="col-sm-10 font-weight-light">
                        {% if item.kind is defined %}
                          kind: 
                          {% if item.kind is not string %}
                            <b>{{ ', '.join(item.kind) }}</b>
                          {% else %}
                            <b>{{ item.kind }}</b>
                          {% endif %}
                        {% endif %}
                        {% if item.host is defined %}
                          | source: <b>{{ item.host }}</b>
                        {% endif %}
                        {% if item.license is defined %}
                          | license: <b>{{ item.license }}</b>
                        {% endif %}
                        {% if item.date_project is defined %}
                          | date: <b>{{ item.date_project.split('T')[0] }}</b>
                        {% endif %}
                      </div>

                      <!-- language -->
                      {% if item.language is defined %}
                      <div class="col-sm-2 font-weight-bold">language</div>
                      <div class="col-sm-10">{{ item.language }}</div>
                      {% endif %}

                      <!-- scores -->
                      <div class="col-sm-2 font-weight-bold">scores</div>
                      <div class="col-sm-10 font-weight-light">
                        {{ item.scores|safe }}
                      </div>
                    </div>

                    <div class="row mt-2 mb-2">
                      <!-- link -->
                      <div class="col-sm-2 font-weight-bold">link</div>
                      <div class="col-sm-10">
                        <a href="{{ item.link }}" target="_blank"
                          >{{ item.link }}</a
                        >
                      </div>
                    </div>
                  </div>
              </td>
              <td class="col-sm-2">
                <div class="container-fluid">
                  <div class="row">
                    {% if item.type is defined %}
                    {{ ', '.join(item.type) }}
                    {% endif %}
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div>Query Runtime: {{ runtime }} sec</div>
    </div>

    {% endif %}
      </main>
    </div>
  </div>
</form>

<!-- autocomplete -->
<datalist id="category_list">
  {% for item in guides.categories %}
  <option value="{{ item }}"></option>
  {% endfor %}
</datalist>
<datalist id="subcategory_list">
  {% for item in guides.subcategories %}
  <option value="{{ item }}"></option>
  {% endfor %}
</datalist>
<datalist id="tags_list">
  {% for item in guides.tags %}
  <option value="{{ item }}"></option>
  {% endfor %}
</datalist>
<datalist id="kind_list">
  {% for item in guides.kinds %}
  <option value="{{ item }}"></option>
  {% endfor %}
</datalist>
<datalist id="libs_list">
  {% for item in guides.libs %}
  <option value="{{ item }}"></option>
  {% endfor %}
</datalist>
<datalist id="host_list">
  {% for item in guides.sources %}
  <option value="{{ item }}"></option>
  {% endfor %}
</datalist>
{% endblock %}
